*~
.DS_Store
.cache
lib_managed
target
.target
project-old/boot
project-old/plugins/project
project-old/plugins/target
project-old/plugins/lib_managed
project-old/plugins/src_managed
.project
.classpath
.scala_dependencies
.settings
.idea
.idea_modules
