*~
.DS_Store
lib_managed
target
project-old/boot
project-old/plugins/project
project-old/plugins/target
project-old/plugins/lib_managed
project-old/plugins/src_managed
.project
.classpath
.scala_dependencies
.settings
project